.navbar-header {
  display: inline-block;
}

.navbar-brand img {
  width: 20px;
  height: 20px;
  display: inline-block;
}

body {
  padding-top: 70px;
}

textarea {
  font-family: monospace;
  resize: none;
}
